/*Stlyes for the main navigation bar container*/
.navbar {
  position: fixed; /*Keeps navbar fixed at the top, so it stays visable when user scrolls*/
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;

  display: flex;
  align-items: center;

  padding: 0 2rem; /*Horizzontal padding (0 top and bottom, 2rem left and right)*/

  background: #FFF;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 100;
}

.navbar-logo {
  height: 128px;
  margin-right: 1rem;
}

.navbar-title {
  margin: 0;
  font-size: 1.25rem;
  color: #000;
}
